body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #7FDBFF;
}

article {
    padding: 10px 15px;
    margin: 30px auto;
    width: 600px;
    background-color: #001f3f;
    border: solid 1px #001f3f;
    border-radius: 10px;
    text-align: center;
}

.aleft {
    text-align: left;
}

h1 {
    font-size: 2em;
    color: #01FF70;
}

h2 {
    text-align: center;
}

a {
    color: #FF851B;
}

pre span {
    color: #F012BE;
}